<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid" src={{ asset('uploads/images/'~imageName) }} alt="Image"/>
                <div class=" carousel-caption d-flex align-items-center ">
                    <div class="pl-5 pt-2"  style="width: 100%; max-width: 900px; background-color:rgba(250,148,42,0.5);">
                        <h1 class="display-3 text-white mb-md-4">{{ textCarousel }}</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>